<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fileTXT" value="C:\Labs\ProgramThatSavesItsStatus\ProgramThatSavesItsStatus\Resources\saverTXT.txt"/>
    <add key="fileXML" value="C:\Labs\ProgramThatSavesItsStatus\ProgramThatSavesItsStatus\Resources\saverXML.xml"/>
    <add key="fileBinary" value="C:\Labs\ProgramThatSavesItsStatus\ProgramThatSavesItsStatus\Resources\saverBinary.dat"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>